
/*-- home --*/
    body{
        font-family: calibri;
        text-align: center;
        margin: 0 0 0 0;
        background: url('gambar/bmx.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #h1{
      left: 30px;
      top: 28px;
      bottom:0px;
      margin: 0px 0 0 0px;
      position:relative;
    }

    h4{
      position: absolute;
      top: 28px;
      left: 58.38%;
    }

    #di{
      cursor: pointer;
      display: inline-block;
      color: black;
    }

    #di:hover{
      color: grey;
    }

    #div_head{
      padding: 0 0 50px 0;
      background:rgba(255,255,255,0.5);
      width:100%;
      position: fixed;
    }

    #more{
        color:#cccccc;
        font-size: 11pt;
        border-width: 2px;
        border-style: solid ;
        border-radius: 3vw;
        /*box-shadow: hor ver blur spread color*/
        box-shadow: px px 23px 1px black;
        border-color: rgb(0, 128, 128);
        text-decoration: none;
        padding: 8px 8px;
    }

    #more:hover{
        color: white;
        border-color: rgb(0, 188, 188);
        background-color: rgb(0, 188, 188);
        transition: background 0.5s;
    }

    #more:active{
        color: white;
        text-decoration:  underline;
        padding: 7px 7px;
        transition: background 0.5s, text-decoration 1s;
    }


    /*kondisi setelah di kunjungi*/
    .menu:visited{
        background: rgb(0, 128, 128);
    }

    /*kondisi hover-mouse berada diatasnya*/
    .menu:hover{
        background: white;
        color: rgb(0, 128, 128);
        transition: background 1s, color 1s;
    }

    /*sedang diklik*/
      .menu:active{
        background: rgb(0, 128, 128);
        color: white;
        transition: background 1s, color 1s;
    }

/*-- menu link --*/
    #div0{
    color:#cccccc;
    padding-top: 10px;
    }

    #link_facebook{
    color: rgb(0, 0, 255);
    /*font-weight:bold;*/
    font-size: 0px;
    font-family: facebook letter faces;
    text-decoration: none;
    background: rgb(0, 128, 128) url('gambar/new/linkfb1.png') center no-repeat;
    background-size: 10px 18px;
    border-width: 0px;
    border-style: solid;
    border-radius: 2vmax;
    border-color: black;

    padding: 20px 20px;
    }

    #link_facebook:hover{
      color: rgb(0, 0, 255);
      /*font-weight:bold;*/
      font-size: 0px;
      font-family: facebook letter faces;
      text-decoration: none;
      background: rgb(0, 188, 188) url('gambar/new/linkfb11.png') center no-repeat;
      background-size: 10px 18px;
      border-width: 0px;
      border-style: solid;
      border-radius: 2vmax;
      border-color: black;

      padding: 20px 20px;

      border-width: 1px;
      border-color: rgb(0, 188, 188);
    }

    #link_twitter{
    color: rgb(0,128,255);
    font-weight:bold;
    font-size: 0px;
    text-decoration: none;
    background: rgb(0, 128, 128) url('gambar/new/linktwt1.png') center no-repeat;
    background-size: 18px 18px;
    border-width: 0px;
    border-style: solid;
    border-radius: 2vmax;
    border-color: black;

    padding: 20px 20px;
    }

    #link_twitter:hover{
      color: rgb(0,128,255);
      font-weight:bold;
      font-size: 0px;
      text-decoration: none;
      background: rgb(0, 188, 188) url('gambar/new/linktwt11.png') center no-repeat;
      background-size: 18px 18px;
      border-width: 0px;
      border-style: solid;
      border-radius: 2vmax;
      border-color: black;

      padding: 20px 20px;

      border-width: 1px;
      border-color: rgb(0, 188, 188);
    }

    #link_instagram{
    color:rgb(128, 0, 128);
    font-weight:bold;
    font-size: 0px;
    text-decoration: none;
    background: rgb(0, 128, 128) url('gambar/new/linkig1.png') center no-repeat;
    background-size: 18px 18px;
    border-width: 0px;
    border-style: solid;
    border-radius: 2vmax;
    border-color: black;

    padding: 20px 20px;
    }

    #link_instagram:hover{
      color:rgb(128, 0, 128);
      font-weight:bold;
      font-size: 0px;
      text-decoration: none;
      background: rgb(0, 188, 188) url('gambar/new/linkig11.png') center no-repeat;
      background-size: 18px 18px;
      border-width: 0px;
      border-style: solid;
      border-radius: 2vmax;
      border-color: black;

      padding: 20px 20px;

      border-width: 1px;
      border-color: rgb(0, 188, 188);
    }

    #link_gmail{
    color:rgb(128, 0, 128);
    font-weight:bold;
    font-size: 0px;
    text-decoration: none;
    background: rgb(0, 128, 128) url('gambar/new/linkgo1.png') center no-repeat;
    background-size: 25px 18px;
    border-width: 0px;
    border-style: solid;
    border-radius: 2vmax;
    border-color: black;

    padding: 20px 20px;
    }

    #link_gmail:hover{
      color:rgb(128, 0, 128);
      font-weight:bold;
      font-size: 0px;
      text-decoration: none;
      background: rgb(0, 188, 188) url('gambar/new/linkgo11.png') center no-repeat;
      background-size: 25px 18px;
      border-width: 0px;
      border-style: solid;
      border-radius: 2vmax;
      border-color: black;

      padding: 20px 20px;

      border-width: 1px;
      border-color: rgb(0, 188, 188);
    }

    #png{
        padding-top: 15%;
        /*transform: rotateZ(0deg);*/
        transition: transform 1s;
        text-align: center;
    }

    #png:hover{
        transform: rotateY(-360deg);
	  }

    #png1{
      /*opacity: 0.5;*/
      position: absolute;
      top: 35px;
      left: 37.37%;
      width: 50px;
      height: 50px;
    }



    #copy{
      padding: 8px 0 8px 0;
      background-color: rgb(0, 128, 128);
      color: white;
    }

    #div1{
      color:#cccccc;
    }

    #setting {
        padding: 20px 20px;
        text-decoration: none;
        background: url('gambar/new/sett.png') center no-repeat;
        background-size: 38px 38px;
        position: absolute;
        top: 40px;
        right: 50px;
        z-index: 101;
    }

    #setting:hover{
      padding: 20px 20px;
      text-decoration: none;
      background: url('gambar/new/sett1.png') center no-repeat;
      background-size: 38px 38px;
      position: absolute;
      top: 40px;
      right: 50px;
      z-index: 101;
    }

    #list{
      position:absolute;
      top: 40px;
      right:91%;
      z-index: 101;
      text-decoration: none;
      background: url('gambar/new/read.png') center no-repeat;
      background-size: 38px 38px;
      padding: 20px 20px;
    }

    #list:hover{
      position:absolute;
      top: 40px;
      right:91%;
      z-index: 101;
      text-decoration: none;
      background: url('gambar/new/read1.png') center no-repeat;
      background-size: 38px 38px;
      padding: 20px 20px;
    }

    .p{
      font-size: 86px;
    }
