/*
background-color: #bbeeff;
background-image: url("gambar/logo.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: top;
*/

/*-- home --*/
    body{
        /*background: rgb(5, 55, 55) url('gambar/logo2.png') no-repeat fixed center;*/
        font-family: calibri;
        text-align: center;
        margin: 0 0 0 0;
    }

    h1{
      top: 20px;
      bottom:0;
      margin: 0px 0 0 0px;
      position:relative;
      font-family:channel;
    }

    h4{
      position: absolute;
      top: 28px;
      left: 58.38%;
    }

    #di{
      cursor: pointer;
      display: inline-block;
      color: black;
    }

    #di:hover{
      color: grey;
    }

    #div_head{
      background:white;
      width:100%;
      position: fixed;
    }

    #more{
        color: rgb(0, 128, 128);
        font-size: 11pt;
        border-width: 1px;
        border-style: solid ;
        border-radius: 3vw;
        /*box-shadow: hor ver blur spread color*/
        box-shadow: px px 23px 1px black;
        border-color: rgb(0, 128, 128);
        text-decoration: none;
        padding: 8px 8px;
    }
    /*
    #more:link{
        background: rgb(0, 128, 128);
    }

    #more:visited{
        background: rgb(5, 55, 55);
    }
    */
    #more:hover{
        color: white;
        background-color: rgb(0, 128, 128);
        transition: background 0.5s;
    }

    #more:active{
        color: white;
        text-decoration:  underline;
        padding: 7px 7px;
        transition: background 0.5s, text-decoration 1s;
    }

    /*menu website*/
    /*
    #div_menu{
        text-align: center;
        background: rgb(0, 128, 128);
        padding: 10px 0;
        margin: 0 41% 0 41%;
        transition: margin 1s, transform 1s;
    }

    #div_menu:hover{
        text-align: center;
        background: rgb(0, 128, 128) fixed;
        padding: 10px 0;
        margin: 0 0% 0 0%;

    }

    .menu{
        color: white;
        font-weight: bold;

        border-width: 3px;
        border-style: solid ;
        border-radius: 1vmin;
        border-color: white;
        text-decoration: none;

        padding: 8px 8px;
    }

    /*kondisi biasa*/
    /* .menu:link{
        background: rgb(0, 128, 128);
    } */

    /*kondisi setelah di kunjungi*/
    .menu:visited{
        background: rgb(0, 128, 128);
    }

    /*kondisi hover-mouse berada diatasnya*/
    .menu:hover{
        background: white;
        color: rgb(0, 128, 128);
        transition: background 1s, color 1s;
    }

    /*sedang diklik*/
      .menu:active{
        background: rgb(0, 128, 128);
        color: white;
        transition: background 1s, color 1s;
    }

/*-- menu link --*/
    #div0{
    color: grey;
    padding-top: 20px;
    }

    #link_facebook{
    color: rgb(0, 0, 255);
    /*font-weight:bold;*/
    font-size: 0px;
    font-family: facebook letter faces;
    text-decoration: none;
    background: rgb(0, 128, 128) url('gambar/new/linkfb1.png') center no-repeat;
    background-size: 10px 18px;
    /*
    background-position: 25px 12px;
    transition: 1s;
    border-top-right-radius: 1vmin;
    border-bottom-right-radius: 1vmin;
    */
    border-width: 0px;
    border-style: solid;
    border-radius: 2vmax;
    border-color: black;

    padding: 20px 20px;
    }

    #link_facebook:hover{
      border-width: 1px;
      border-color: rgb(0, 188, 188);
    }

    #link_twitter{
    color: rgb(0,128,255);
    font-weight:bold;
    font-size: 0px;
    text-decoration: none;
    background: rgb(0, 128, 128) url('gambar/new/linktwt1.png') center no-repeat;
    background-size: 18px 18px;
    /*
    transition: 1s;
    border-top-right-radius: 1vmin;
    border-bottom-right-radius: 1vmin;
    */
    border-width: 0px;
    border-style: solid;
    border-radius: 2vmax;
    border-color: black;

    padding: 20px 20px;
    }

    #link_twitter:hover{
      border-width: 1px;
      border-color: rgb(0, 188, 188);
    }

    #link_instagram{
    color:rgb(128, 0, 128);
    font-weight:bold;
    font-size: 0px;
    text-decoration: none;
    background: rgb(0, 128, 128) url('gambar/new/linkig1.png') center no-repeat;
    background-size: 18px 18px;
    /*
    transition: 1s;
    border-top-right-radius: 1vmin;
    border-bottom-right-radius: 1vmin;
    */
    border-width: 0px;
    border-style: solid;
    border-radius: 2vmax;
    border-color: black;

    padding: 20px 20px;
    }

    #link_instagram:hover{
      border-width: 1px;
      border-color: rgb(0, 188, 188);
    }

    #link_gmail{
    color:rgb(128, 0, 128);
    font-weight:bold;
    font-size: 0px;
    text-decoration: none;
    background: rgb(0, 128, 128) url('gambar/new/linkgo1.png') center no-repeat;
    background-size: 25px 18px;
    /*
    transition: 1s;
    border-top-right-radius: 1vmin;
    border-bottom-right-radius: 1vmin;
    */
    border-width: 0px;
    border-style: solid;
    border-radius: 2vmax;
    border-color: black;

    padding: 20px 20px;
    }

    #link_gmail:hover{
      border-width: 1px;
      border-color: rgb(0, 188, 188);
    }
    /*
    #link_facebook:hover{
        color: white;
        font-weight:bold;
        font-size: 33px;
        font-family: facebook letter faces;
        text-decoration: none;
        background: rgb(0,0,255) url('gambar/linkfb1.png') center no-repeat;
        background-size: 13px 23px;
        transition: 1s;

        border-width: 0px;
        border-style: solid;
        border-top-right-radius: 1vmin;
        border-bottom-right-radius: 1vmin;
        border-color: white;

        padding: 8px 45px;
    }

    #link_twitter:hover{
        color: white;
        font-weight:bold;
        font-size: 33px;
        font-family: velocity;
        text-decoration: none;
        background: rgb(0,128,255) url('gambar/linktwt1.png') center no-repeat;
        background-size: 23px 23px;
        transition: 1s;

        border-width: 0px;
        border-style: solid;
        border-top-right-radius: 1vmin;
        border-bottom-right-radius: 1vmin;
        border-color: white;

        padding: 8px 45px;
    }

    #link_instagram:hover{
        color: white;
        font-weight:bold;
        font-size: 33px;
        text-decoration: none;
        background: rgb(128, 0, 128) url('gambar/linkig1.png') no-repeat center;
        background-size: 23px 23px;
        transition: 1s;

        border-width: 0px;
        border-style: solid;
        border-top-right-radius: 1vmin;
        border-bottom-right-radius: 1vmin;
        border-color: white;

        padding: 8px 45px;
    }

	#link_gmail:hover{
        color: white;
        font-weight:bold;
        font-size: 33px;
        text-decoration: none;
        background: rgb(237, 28, 36) url('gambar/linkgo1.png') no-repeat center;
        background-size: 23px 18px;
        transition: 1s;

        border-width: 0px;
        border-style: solid;
        border-top-right-radius: 1vmin;
        border-bottom-right-radius: 1vmin;
        border-color: white;

        padding: 8px 45px;
    }
    */

    #png{
        padding-top: 5%;
        /*transform: rotateZ(0deg);*/
        transition: transform 1s;
        text-align: center;
    }

    #png:hover{
        transform: rotateY(-360deg);
	  }

    #png1{
      /*opacity: 0.5;*/
      position: absolute;
      top: 35px;
      left: 37.37%;
      width: 50px;
      height: 50px;
      /*transition: opacity 150ms;
      transition-property: opacity;
      transition-duration: 150ms;
      transition-timing-function: ease;
      transition-delay: 0s;*/
    }

    /*#png1:hover{
      opacity: 1;
    }*/

    #copy{
      padding: 3px 0 3px 0;
      background-color: rgb(0, 128, 128);
      color: white;
    }

    #div1{
      color:grey;
    }

    #setting {
        position: absolute;
        top: 25px;
        right: 50px;
        z-index: 101;
    }

    #setting{
    text-decoration: none;
    background: url('gambar/new/sett.png') center no-repeat;
    background-size: 38px 38px;
    /*
    transition: 1s;
    border-top-right-radius: 1vmin;
    border-bottom-right-radius: 1vmin;

    border-width: 0px;
    border-radius: 2vmax;*/
    padding: 20px 20px;
    }

    #setting:hover{
      opacity: 0.5;
      background-color: #CCCCCC;
    }

    #list{
      text-decoration: none;
      background: url('gambar/new/read.png') center no-repeat;
      background-size: 38px 38px;
      /*
      transition: 1s;
      border-top-right-radius: 1vmin;
      border-bottom-right-radius: 1vmin;

      border-width: 0px;
      border-radius: 2vmax;*/
      padding: 20px 20px;
    }

    #list:hover{
      opacity: 0.5;
      background-color: #CCCCCC;
    }

    #list {
        position:absolute;
        top: 25px;
        right:91%;
        z-index: 101;
    }

    .p{
      font-size: 86px;
    }
