body{
background: rgb(5, 55, 55) url('../gambar/logo2.png') no-repeat fixed center;
font-family: sansation;
color: white;
margin: 0 0px 0 0px;
}

#div_head{
padding: 0px 0px;
margin: 0 0 2% 0;
}

h1{
color:red;
text-align: center;
font-family: supercell-magic;
}

#head{
color: white;
text-transform: uppercase;
line-height: 3px;
text-align: center;
margin: 0 0 3% 0;
font-family: supercell-magic;
}

/*menu website*/
#div_menu{
text-align: center;
}

.menu{
color: white;
font-weight: bold;
font-family: sansation;

border-width: 2px;
border-style: solid;
border-radius: 1vmin;
border-color: white;
text-decoration: none;

padding: 8px 8px;
}

/*kondisi biasa*/
/*
.menu:link{
background: rgb(5, 55, 55);
}
*/

/*kondisi setelah di kunjungi*/
/*
.menu:visited{
/*background: rgb(5, 55, 55);
}
*/

/*kondisi hover-mouse berada diatasnya*/
.menu:hover{
background: white;
color: rgb(5, 55, 55);
transition: background 1s, color 1s;
}

/*sedang diklik*/
.menu:active{
/*background: rgb(5, 55, 55);*/
transition: background 1s, color 1s;
}

fieldset, table, tr, th, td, #text_long{
margin: 0 20px 20px 20px;
border-radius: 0.5vmin;
}

#text_long{
text-align: justify;
}

ul, ol, dl{
float: left;
margin: 30px 0px 8% 40px;
padding: 0px;
width: 17%;
}

#div0{
clear:both;
margin:0 0 3% 43.40%;
background-position:center;
}

#link_facebook{
color: rgb(0, 0, 0);
/*font-weight:bold;*/
font-size: 0px;
font-family: facebook letter faces;
text-decoration: none;
background: rgb(0, 0, 255) url('../gambar/linkfb1.png') center no-repeat;
background-size: 10px 20px;
/*
background-position: 25px 12px;
transition: 1s;
border-top-right-radius: 1vmin;
border-bottom-right-radius: 1vmin;
*/
border-width: 0px;
border-style: solid;
border-radius: 2vmax;
border-color: black;

padding: 20px 20px;
}

#link_twitter{
color: rgb(0,128,255);
font-weight:bold;
font-size: 0px;
text-decoration: none;
background: rgb(0,128,255) url('../gambar/linktwt1.png') center no-repeat;
background-size: 18px 18px;
/*
transition: 1s;
border-top-right-radius: 1vmin;
border-bottom-right-radius: 1vmin;
*/
border-width: 0px;
border-style: solid;
border-radius: 2vmax;
border-color: black;

padding: 20px 20px;
}

#link_instagram{
color:rgb(128, 0, 128);
font-weight:bold;
font-size: 0px;
text-decoration: none;
background: rgb(128, 0, 128) url('../gambar/linkig1.png') center no-repeat;
background-size: 23px 23px;
/*
transition: 1s;
border-top-right-radius: 1vmin;
border-bottom-right-radius: 1vmin;
*/
border-width: 0px;
border-style: solid;
border-radius: 2vmax;
border-color: black;

padding: 20px 20px;
}

#link_gmail{
color:rgb(128, 0, 128);
font-weight:bold;
font-size: 0px;
text-decoration: none;
background: rgb(237, 28, 36) url('../gambar/linkgo1.png') center no-repeat;
background-size: 23px 16px;
/*
transition: 1s;
border-top-right-radius: 1vmin;
border-bottom-right-radius: 1vmin;
*/
border-width: 0px;
border-style: solid;
border-radius: 2vmax;
border-color: black;

padding: 20px 20px;
}