body{
background: url('../gambar/bmx.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
text-align: center;
font-family: calibri;
color: black;
margin: 0 0px 0 0px;
}

#div_head{
background:rgb(255,255,255,0.5);
width: 100%;
position: fixed;
padding-bottom: 50px;
}

/*menu website*/
#div_menu{
  padding-top: 10%;
}
.menu{
text-decoration: none;
color:#cccccc;
font-weight: bold;
}

.menu:hover{
text-decoration: underline;
color: white;
transition: background 1s, color 0.5s;
}

#div-field{
  float: left;
  padding-top: 0px;

}

#field{
  border-color:rgb(0, 128, 128);
  border-top-width: 0;
  border-left-width: 0;
  border-bottom-width: 0;
  border-right-width: 0;
  padding:10px 223px 125px 23px;
  border-radius:23px 0px 0px 0px;
  background: rgba(0, 128, 128, 0.8);
  margin: 0px 0px 0px 20px;
  text-align: left;
}

#field1{
  border-color:rgb(0, 128, 128,);
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 1px;
  padding:0px 23px 53px 23px;
  border-radius:0px 0px 0px 0px;
  background: rgba(0, 128, 128, 0.8);
  margin: 70px 20px 0px 0px;
  text-align: left;
}

#field2{
  border: 0;
  border-top:0px;
  border-radius:0 0 23px 0px;
  padding:23px 23px;
  margin: 0 20px 0 20px;
  background:rgba(0, 128, 128, 0.8);
}

#table, tr, th, td{
clear: both;
border-width: 2px;
border-color: rgb(0, 128, 128);
text-align: left;
margin: 20px 0px 20px 20px;
border-radius: 0.5vmin;
}


legend{
color: white;
padding: 5px 15px;
margin: 0 0 0 25px;
background-color: rgb(0, 128, 128);
}

#div0{
color:#cccccc;
clear: both;
padding-top: 23px;
}

#link_facebook{
color: rgb(0, 0, 255);
/*font-weight:bold;*/
font-size: 0px;
font-family: facebook letter faces;
text-decoration: none;
background: rgb(0, 128, 128) url('../gambar/new/linkfb1.png') center no-repeat;
background-size: 10px 18px;
border-width: 0px;
border-style: solid;
border-radius: 2vmax;
border-color: black;

padding: 20px 20px;
}

#link_facebook:hover{
  color: rgb(0, 0, 255);
  /*font-weight:bold;*/
  font-size: 0px;
  font-family: facebook letter faces;
  text-decoration: none;
  background: rgb(0, 188, 188) url('../gambar/new/linkfb11.png') center no-repeat;
  background-size: 10px 18px;
  border-width: 0px;
  border-style: solid;
  border-radius: 2vmax;
  border-color: black;

  padding: 20px 20px;

  border-width: 1px;
  border-color: rgb(0, 188, 188);
}

#link_twitter{
color: rgb(0,128,255);
font-weight:bold;
font-size: 0px;
text-decoration: none;
background: rgb(0, 128, 128) url('../gambar/new/linktwt1.png') center no-repeat;
background-size: 18px 18px;
border-width: 0px;
border-style: solid;
border-radius: 2vmax;
border-color: black;

padding: 20px 20px;
}

#link_twitter:hover{
  color: rgb(0,128,255);
  font-weight:bold;
  font-size: 0px;
  text-decoration: none;
  background: rgb(0, 188, 188) url('../gambar/new/linktwt11.png') center no-repeat;
  background-size: 18px 18px;
  border-width: 0px;
  border-style: solid;
  border-radius: 2vmax;
  border-color: black;

  padding: 20px 20px;

  border-width: 1px;
  border-color: rgb(0, 188, 188);
}

#link_instagram{
color:rgb(128, 0, 128);
font-weight:bold;
font-size: 0px;
text-decoration: none;
background: rgb(0, 128, 128) url('../gambar/new/linkig1.png') center no-repeat;
background-size: 18px 18px;
border-width: 0px;
border-style: solid;
border-radius: 2vmax;
border-color: black;

padding: 20px 20px;
}

#link_instagram:hover{
  color:rgb(128, 0, 128);
  font-weight:bold;
  font-size: 0px;
  text-decoration: none;
  background: rgb(0, 188, 188) url('../gambar/new/linkig11.png') center no-repeat;
  background-size: 18px 18px;
  border-width: 0px;
  border-style: solid;
  border-radius: 2vmax;
  border-color: black;

  padding: 20px 20px;

  border-width: 1px;
  border-color: rgb(0, 188, 188);
}

#link_gmail{
color:rgb(128, 0, 128);
font-weight:bold;
font-size: 0px;
text-decoration: none;
background: rgb(0, 128, 128) url('../gambar/new/linkgo1.png') center no-repeat;
background-size: 25px 18px;
border-width: 0px;
border-style: solid;
border-radius: 2vmax;
border-color: black;

padding: 20px 20px;
}

#link_gmail:hover{
  color:rgb(128, 0, 128);
  font-weight:bold;
  font-size: 0px;
  text-decoration: none;
  background: rgb(0, 188, 188) url('../gambar/new/linkgo11.png') center no-repeat;
  background-size: 25px 18px;
  border-width: 0px;
  border-style: solid;
  border-radius: 2vmax;
  border-color: black;

  padding: 20px 20px;

  border-width: 1px;
  border-color: rgb(0, 188, 188);
}

#copy{
  padding: 8px 0 8px 0;
  background-color: rgb(0, 128, 128);
  color: white;
}

#png1{
  position: absolute;
  top: 35px;
  left: 37.37%;
  width: 50px;
  height: 50px;
}

#h1{
  left: 30px;
  top: 28px;
  bottom:0;
  margin: 0px 0 0 0px;
  position:relative;
}

h4{
  position: absolute;
  top: 28px;
  left: 58.38%;
}

#di{
  cursor: pointer;
  display: inline-block;
  color: black;
}

#di:hover{
  color: grey;
}

#setting {
    padding: 20px 20px;
    text-decoration: none;
    background: url('../gambar/new/sett.png') center no-repeat;
    background-size: 38px 38px;
    position: absolute;
    top: 40px;
    right: 50px;
    z-index: 101;
}

#setting:hover{
  padding: 20px 20px;
  text-decoration: none;
  background: url('../gambar/new/sett1.png') center no-repeat;
  background-size: 38px 38px;
  position: absolute;
  top: 40px;
  right: 50px;
  z-index: 101;
}

#list{
  position:absolute;
  top: 40px;
  right:91%;
  z-index: 101;
  text-decoration: none;
  background: url('../gambar/new/read.png') center no-repeat;
  background-size: 38px 38px;
  padding: 20px 20px;
}

#list:hover{
  position:absolute;
  top: 40px;
  right:91%;
  z-index: 101;
  text-decoration: none;
  background: url('../gambar/new/read1.png') center no-repeat;
  background-size: 38px 38px;
  padding: 20px 20px;
}

input[type="submit"]{
  text-align:center;
  cursor:pointer;
  outline:none;
  padding:3px 3px;
  font-weight:bold;
  font-size:15px;
  border-radius:1vmax;
}

#contact{
  margin: 55px 0 0 0;
  color: black;
  font-weight: bold;
  font-size: 32px;
}

.p{
  font-size: 86px;
}
