body{
background: url('../gambar/bmx.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
text-align: center;
font-family: calibri;
color: black;
margin: 0 0px 0 0px;
}

#div_head{
background: rgba(255,255,255,0.6);
width: 100%;
position: fixed;
padding-bottom: 50px;
}


/*menu website*/
#div_menu{
  padding-top:10%;
}
.menu{
text-decoration: none;
color:#cccccc;
font-weight: bold;
}

/*kondisi hover-mouse berada diatasnya*/
.menu:hover{
text-decoration: underline;
color:white;
transition: background 1s, color 0.5s;
}

/*sedang diklik
.menu:active{
/*background: rgb(5, 55, 55);
transition: background 1s, color 1s;
}*/

table, tr, th, td{
clear: both;
border-width: 2px;
border-color: rgb(0, 128, 128);
text-align: left;
margin: 50px 0px 20px 20px;
border-radius: 0.5vmin;
}

#div0{
color: #cccccc;
clear: both;
padding-top: 23px;
}

#link_facebook{
color: rgb(0, 0, 255);
/*font-weight:bold;*/
font-size: 0px;
font-family: facebook letter faces;
text-decoration: none;
background: rgb(0, 128, 128) url('../gambar/new/linkfb1.png') center no-repeat;
background-size: 10px 18px;
border-width: 0px;
border-style: solid;
border-radius: 2vmax;
border-color: black;

padding: 20px 20px;
}

#link_facebook:hover{
  color: rgb(0, 0, 255);
  /*font-weight:bold;*/
  font-size: 0px;
  font-family: facebook letter faces;
  text-decoration: none;
  background: rgb(0, 188, 188) url('../gambar/new/linkfb11.png') center no-repeat;
  background-size: 10px 18px;
  border-width: 0px;
  border-style: solid;
  border-radius: 2vmax;
  border-color: black;

  padding: 20px 20px;

  border-width: 1px;
  border-color: rgb(0, 188, 188);
}

#link_twitter{
color: rgb(0,128,255);
font-weight:bold;
font-size: 0px;
text-decoration: none;
background: rgb(0, 128, 128) url('../gambar/new/linktwt1.png') center no-repeat;
background-size: 18px 18px;
border-width: 0px;
border-style: solid;
border-radius: 2vmax;
border-color: black;

padding: 20px 20px;
}

#link_twitter:hover{
  color: rgb(0,128,255);
  font-weight:bold;
  font-size: 0px;
  text-decoration: none;
  background: rgb(0, 188, 188) url('../gambar/new/linktwt11.png') center no-repeat;
  background-size: 18px 18px;
  border-width: 0px;
  border-style: solid;
  border-radius: 2vmax;
  border-color: black;

  padding: 20px 20px;

  border-width: 1px;
  border-color: rgb(0, 188, 188);
}

#link_instagram{
color:rgb(128, 0, 128);
font-weight:bold;
font-size: 0px;
text-decoration: none;
background: rgb(0, 128, 128) url('../gambar/new/linkig1.png') center no-repeat;
background-size: 18px 18px;
border-width: 0px;
border-style: solid;
border-radius: 2vmax;
border-color: black;

padding: 20px 20px;
}

#link_instagram:hover{
  color:rgb(128, 0, 128);
  font-weight:bold;
  font-size: 0px;
  text-decoration: none;
  background: rgb(0, 188, 188) url('../gambar/new/linkig11.png') center no-repeat;
  background-size: 18px 18px;
  border-width: 0px;
  border-style: solid;
  border-radius: 2vmax;
  border-color: black;

  padding: 20px 20px;

  border-width: 1px;
  border-color: rgb(0, 188, 188);
}

#link_gmail{
color:rgb(128, 0, 128);
font-weight:bold;
font-size: 0px;
text-decoration: none;
background: rgb(0, 128, 128) url('../gambar/new/linkgo1.png') center no-repeat;
background-size: 25px 18px;
border-width: 0px;
border-style: solid;
border-radius: 2vmax;
border-color: black;

padding: 20px 20px;
}

#link_gmail:hover{
  color:rgb(128, 0, 128);
  font-weight:bold;
  font-size: 0px;
  text-decoration: none;
  background: rgb(0, 188, 188) url('../gambar/new/linkgo11.png') center no-repeat;
  background-size: 25px 18px;
  border-width: 0px;
  border-style: solid;
  border-radius: 2vmax;
  border-color: black;

  padding: 20px 20px;

  border-width: 1px;
  border-color: rgb(0, 188, 188);
}

#copy{
  padding: 8px 0 8px 0;
  background-color: rgb(0, 128, 128);
  color: white;
}

#png1{
  /*opacity: 0.5;*/
  position: absolute;
  top: 35px;
  left: 37.37%;
  width: 50px;
  height: 50px;
  /*transition: opacity 150ms;
  transition-property: opacity;
  transition-duration: 150ms;
  transition-timing-function: ease;
  transition-delay: 0s;*/
}

/*#png1:hover{
  opacity: 1;
}*/

#h1{
  left: 30px;
  top: 28px;
  bottom:0;
  margin: 0px 0 0 0px;
  position:relative;
}

h4{
  position: absolute;
  top: 28px;
  left: 58.38%;
}

#di{
  cursor:pointer;
  display: inline-block;
  color: black;
}

#di:hover{
  color: grey;
}

#setting {
    padding: 20px 20px;
    text-decoration: none;
    background: url('../gambar/new/sett.png') center no-repeat;
    background-size: 38px 38px;
    position: absolute;
    top: 40px;
    right: 50px;
    z-index: 101;
}

#setting:hover{
  padding: 20px 20px;
  text-decoration: none;
  background: url('../gambar/new/sett1.png') center no-repeat;
  background-size: 38px 38px;
  position: absolute;
  top: 40px;
  right: 50px;
  z-index: 101;
}

#list{
  position:absolute;
  top: 40px;
  right:91%;
  z-index: 101;
  text-decoration: none;
  background: url('../gambar/new/read.png') center no-repeat;
  background-size: 38px 38px;
  padding: 20px 20px;
}

#list:hover{
  position:absolute;
  top: 40px;
  right:91%;
  z-index: 101;
  text-decoration: none;
  background: url('../gambar/new/read1.png') center no-repeat;
  background-size: 38px 38px;
  padding: 20px 20px;
}

#cap{
  font-family: calibri;
}

#member{
  margin: 55px 0 0 0;
  color: black;
  font-weight: bold;
  font-size: 32px;
}

.p{
  font-size: 86px;
}
